
          <footer class="nocontent">

            <div class="footer-wrapper">
              <div class="container">
                <footer>
                  <div class="row">
                    <div class="col-md-4 col-sm-12 connect">
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" name="qFooter" data-lang="English" type="search" placeholder="Search for...">
                          <div class="input-group-addon"><span class="fa fa-search globalSearch" style="top: 3px; position: relative; cursor: pointer;"></span></div>
                        </div>
                      </div>

                      <h4>Connect with us</h4>
                      <p class="social-links">
                        <a href="https://www.facebook.com/bellhelicopter" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/one_bell" class="fa fa-twitter"></a>
                        <a href="https://www.youtube.com/user/TheBellHelicopter" class="fa fa-youtube"></a>
                      </p>


                    </div>

                    <div class="col-md-2 col-sm-6">
                      <h4>Aircraft</h4>
                      <ul>
                        <li><a href="http://www.bellhelicopter.com/commercial">All Commercial</a></li>
                        <li><a href="http://www.bellhelicopter.com/military">All Military</a></li>
                        <li><a href="http://www.bellhelicopter.com/support-and-service/support/css-directory/customer-sales-and-support">Sales Reps</a></li>
                      </ul>
                    </div>
                    <div class="col-md-2 col-sm-6">
                      <h4>Company</h4>
                      <ul>
                        <li><a href="http://www.bellhelicopter.com/careers">Careers</a></li>
                        <li><a href="http://www.bellhelicopter.com/company/community-programs">Community Programs</a></li>
                        <li><a href="http://www.bellhelicopter.com/contact">Contact</a></li>
                        <li><a href="http://www.bellhelicopter.com/knowledgebase">Knowledgebase</a></li>
                        <li><a href="http://www.bellhelicopter.com/news">News</a></li>
                      </ul>
                    </div>
                    <div class="col-md-2 col-sm-6">
                      <h4>Customers</h4>
                      <ul>
                        <li><a href="http://www.bellhelicopter.com/support-and-service/support/css-directory/customer-sales-and-support">Customer Support & Services Directory</a></li>
                        <li><a href="http://www.bellhelicopter.com/support-and-service/services">Services</a></li>
                        <li><a href="http://www.bellhelicopter.com/support-and-service/support">Support</a></li>
                        <li><a href="http://www.bellhelicopter.com/support-and-service/training">Training</a></li>
                      </ul>
                    </div>
                    <div class="col-md-2 col-sm-6">
                      <h4>Legal</h4>
                      <ul>
                        <li><a href="http://www.bellhelicopter.com/legal">Business Conduct and Privacy Statement</a></li>
                        <li><a href="http://www.bellhelicopter.com/legal/copyright-notice">Copyright Notice</a></li>
                        <li><a href="http://www.bellhelicopter.com/legal/terms-of-use">Terms of Use</a></li>
                        <li><a href="http://www.bellhelicopter.com/legal/ca-transparency-in-suppliers-act">CA Transparency in Suppliers Act</a></li>
                      </ul>
                    </div>
                  </div>
                  <hr>
                  <p class="copy">Copyright 2016 Bell Helicopter Textron Inc.</p>
                </footer>
              </div>
            </div>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="http://www.bellhelicopter.com/Presentation/includes/js/lib/jquery.scrollTo.min.js"></script>
            <script src="http://www.bellhelicopter.com/Presentation/includes/js/bootstrap/bootstrap.min.js"></script>
            <script src="http://www.bellhelicopter.com/Presentation/includes/js/lib/sticky.js"></script>
            <script src="http://www.bellhelicopter.com/Presentation/includes/js/bootstrap/bootstrap-slider.js"></script>
            <script src="http://www.bellhelicopter.com/Presentation/includes/js/lib/jquery.cookie.js"></script>
            <script src="http://www.bellhelicopter.com/Presentation/includes/js/jquery-social-stream/js/jquery.social.stream.wall.1.6.js"></script>
            <script src="http://www.bellhelicopter.com/Presentation/includes/js/jquery-social-stream/js/jquery.social.stream.1.5.11.min.js"></script>
            <script src="http://www.bellhelicopter.com/Presentation/includes/js/lib/slick.min.js" type="text/javascript"></script>
            <script src="http://www.bellhelicopter.com/Presentation/includes/js/lib/lazyYT.js" type="text/javascript"></script>
            <!-- Leave this outside of script files. Do not place any script files before this -->
            <script>
              var $j = jQuery.noConflict();
            </script>
            <script type="text/javascript" src="http://www.bellhelicopter.com/Presentation/includes/js/lib/bellhelicopter.search.js"></script>
            <script type="text/javascript" src="http://www.bellhelicopter.com/Presentation/includes/js/lib/bellhelicopter.search.news.js"></script>
            <script type="text/javascript" src="http://www.bellhelicopter.com/Presentation/includes/js/lib/bellhelicopter.contact.js"></script>

            <script type="text/javascript" src="http://www.bellhelicopter.com/Presentation/includes/js/lib/bellhelicopter.site.js"></script>
            <script>
              var frenchRedirectURL = "http://fr.bellhelicopter.com/";
            </script>
            <script type="text/javascript" src="http://www.bellhelicopter.com/Presentation/includes/js/lib/bellhelicopter.frenchredirect.js"></script>

          </footer>
        </body>
        </html>